In [1]:
import pandas as pd

In [7]:
import shutil

shutil.copyfile('/content/drive/MyDrive/NLP/IMDB Dataset.csv', '/content/IMDB_Dataset.csv')

'/content/IMDB_Dataset.csv'

In [9]:
df = pd.read_csv('/content/IMDB_Dataset.csv')
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]